#left-panel {
    width: 240px;
    padding-top: 4%;
}

.search-card {
    height: 130%;
}

.navbar .navbar-nav>li {
    margin: 10px;
}

.right-panel .navbar-brand {
    width: 140px;
}

.right-panel .top-left {
    width: 250px;
}

.centered-content {
    margin-left: auto;
    margin-right: auto;
}

.noline {
    border: none;
}

.nav-menu {
    margin-left: 20px;
}

.block {
    display: block;
}

.container-board {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.image-width {
    min-width: 200px;
    max-width: initial;
}

.image-container {
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;

}

.image-container-gallery {
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;

}

.centered-content .card .zeroPadding {
    padding: 0;
}

.input-center {
    text-align: center;
}

.img-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.circle-100 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.vertical {
    display: block;
    margin-top: 30px;
}

.fixed-right {
    position: fixed;
    right: 0;
}

.middle-content-15 {
    top: 15%;
}

.right-content-calender {
    position: absolute;
    right: 2%;
    top: 20%;
}

.active {
    color: red !important;
}

.card-image-gallery {
    margin: 10px 1px 1px 10px !important;
    padding: 1px 1px 1px 1px !important;
}