.img-surface {
    width: 100%;
    /*or 70%, or what you want*/
    height: 610px;
    /*or 70%, or what you want*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.centered-content {
    text-align: center;
}